# General
.idea/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Configuraciones específicas del sistema operativo
.DS_Store
*.swp
*~
._*

# Archivos de configuración específicos de VS Code
.vscode/
.android/
.ios/
