<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNayXwoOZv8wqzMkDq7dz6NTnGH-4fl54</string>
	<key>GCM_SENDER_ID</key>
	<string>695985571055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adoptaAmigo</string>
	<key>PROJECT_ID</key>
	<string>adoptamigo-ae1c2</string>
	<key>STORAGE_BUCKET</key>
	<string>adoptamigo-ae1c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695985571055:ios:bb5794748d52a8b782c71a</string>
</dict>
</plist>